<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
    <title>TechMinds recruitment exercise by Michal Gluszko, done probably the laziest way possible.</title>
</head>
<body>

<h1>Basic upload &amp; display file contents using Spring Boot and Thymeleaf.</h1>

<h2>Very basic.</h2>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

</body>
</html>
