<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
</head>
<body>

<h1>Upload Status and data presentation</h1>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<td th:if="${fileExtension}">
    <span>This version is trying to parse file assuming it has structured data, but no predefined headers.</span>
    <span>So it utilizes list of String lists as data cells, no designated object class.</span>
    <br/>
    <span th:if="${fileExtension == 'csv'}">CSV algo is finding commas in quoted data and replacing other commas with tabs, then doing split, for every line.</span>
    <span th:if="${fileExtension == 'prn'}">PRN parser without hardcoded headers was tricky and at first I didn't implement it and just</span>
    <span th:if="${fileExtension == 'prn'}">listed lines in paragraphs (to perserve spaces).</span>
    <span th:if="${fileExtension == 'prn'}">Now the headers are calculated and then other lines are checked for column boundaries.</span>
    <span th:if="${fileExtension == 'prn'}">Every header is either separated by multiple spaces OR there is always one column of spaces between data.</span>
    <br/>
</td>

<table th:if="${fileContents}">
    <tr data-th-each="item : ${fileContents}">
        <td data-th-each="another : ${item}" th:text="${another}"></td>
    </tr>
</table>

<h2>
    <a href="../home.html" th:href="@{/}">Upload again</a>
</h2>

</body>
</html>
